main {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: stretch;
}

span.flatpickr-monthSelect-month {
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.flatpickr-monthSelect-month.flatpickr-disabled {
	background-color: var(--error);
}

.header input {
	padding: 0.75em 1em;
	appearance: none;
	outline: none;
	line-height: normal;
	border-radius: 0;
	border: none;
	background: none;
	display: block;

	font: inherit;
	line-height: normal;
	/* width: 100%; */
	box-sizing: border-box;
	background: var(--static);
	color: var(--text) !important;
	position: relative;
}

.header input:focus,
.header input:active {
	background: rgba(255, 255, 255, 0.15);
}

.tabs {
	flex: 1;
	margin-bottom: 0.5rem;
	overflow: hidden;
	white-space: nowrap;
}

.tabs section {
	display: inline-block;
	width: 100%;
	padding: 1rem;
	/* min-height: 3rem;
	max-height: 100%; */
	height: 100%;
	overflow: auto;
}

.tabs__title {
	display: flex;
	gap: 4rem;
}

.tabs__title span {
	flex: 1;
	cursor: pointer;
	padding: 0.5rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.tabs__title span::before {
	position: absolute;
	content: "";
	background-color: var(--vibrant);
	z-index: -1;
	height: 100%;
	width: 100%;
	left: 0;
	top: 100%;

	transition: 200ms all ease-in-out;
	-webkit-transition: 200ms all ease-in-out;
	-moz-transition: 200ms all ease-in-out;
	-ms-transition: 200ms all ease-in-out;
	-o-transition: 200ms all ease-in-out;
}

.tabs__title span:hover::before {
	top: 0;
}

.tabs__title span.active::before {
	top: -90%;
}

.kpi {
	background-color: var(--focus);
	padding: 0.7rem;

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.kpi--title {
	font-size: 1.5rem;
}

.kpi--value {
	padding-left: 1rem;
	min-height: 1rem;
	min-width: 1rem;
}

.kpi--value::after {
	content: " €";
}

.kpi--value__epargne::after {
	content: " %";
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}
