@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	font-family: "Montserrat";
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 4rem;
	overflow: hidden;
}

.header__title {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.header__title h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.header__title a {
	margin: 0 0 0.5rem 0.5rem;
	font-size: 2rem;
}

main {
	height: calc(100vh - 4rem - 2rem);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: stretch;
}

.tabs__title {
	display: flex;
	gap: 4rem;
}

.tabs__title span {
	flex: 1;
	cursor: pointer;
	padding: 0.5rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.tabs__title span::before {
	position: absolute;
	content: "";
	background-color: aquamarine;
	z-index: -1;
	height: 100%;
	width: 100%;
	left: 0;
	top: 100%;

	transition: 200ms all ease-in-out;
	-webkit-transition: 200ms all ease-in-out;
	-moz-transition: 200ms all ease-in-out;
	-ms-transition: 200ms all ease-in-out;
	-o-transition: 200ms all ease-in-out;
}

.tabs__title span:hover::before {
	top: 0;
}

.tabs__title span.active::before {
	top: -90%;
}
